<style type="text/css">

#P1{
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}
#P2{
    position:absolute;
    top:-0px;
    left:0px;
    z-index:-2;
}
logo {
}

#P3{
    position:absolute;
    top:5300px;
    left:0px;
    z-index:-3;
}

#T1{
    position:absolute;
    top:0px;
    left:-10px;
    z-index:-4;
}
.ig1 {
    width: 2000%;
    margin-top: -2510px;
    margin-left: -57px;
}


@media (min-width:1280px){
div a img {
    width: 77%;
    height: 50%;

}
.userguid {
    width: 148%;
    height: 167%;
}


}

@media (max-width : 416px ){
div a img {
    height: 161%;
    min-height: 79%;
    margin-left: -508px;
    min-width: 0%;
    max-width: 124%;
    max-height: 147%;
    margin-top: -420px;
    top: 0%;
}
#P2 {
    width: 31%;
    padding-bottom: 81px;
    margin-top: 282px;
    margin-left: -4px;
}
#P2 {
    width: 30%;
    margin-top: 54px;
}
body img {
}
.logo {
    width: 47%;
    height: 0%;
    min-width: 19%;
    min-height: 530%;
    margin-top: 31px;
    margin-left: -479px;
}
#P1 {
}
#P1 {
}
.blueup {
    width: 5297%;
    height: 780%;
    min-height: 213%;
    min-width: 269%;
    margin-top: 156px;
}
.oops {
    width: 3342%;
    height: 737%;
    padding-left: 0px;
    margin-left: -359px;
    margin-top: -257px;
}

.aboutus {
    width: 4313%;
    height: 2235%;
    margin-left: -301px;
    margin-top: -655px;
}
.product {
    width: 1075%;
    height: 444%;
    margin-top: -760px;
}

.people1 {
    width: 0０
%;
    width: 1419%;
    height: 537%;
    margin-left: -398px;
    margin-top: -202px;
}






.B1 {
    margin-left: -403px;
    margin-top: -156px;
    width: 24%;
    min-height: 0%;
    min-width: 0%;
    height: 86%;
    margin-bottom: 29px;
}
.people2 {
    width: 1110%;
    height: 454%;
    margin-left: -480px;
    margin-top: -353px;
}
.peopl3 {
    width: 957%;
    height: 558%;
    margin-left: -542px;
    margin-top: -218px;
}
.people4 {
    width: 951%;
    height: 424%;
    margin-left: -632px;
    margin-top: -233px;
}



.B2 {
    width: 23%;
    height: 90%;
    margin-top: -156px;
    margin-left: -475px;
    margin-bottom: 29px;
}
.B3 {
    width: 24%;
    height: 86%;
    margin-top: -156px;
    margin-left: -555px;
    margin-bottom: 29px;
}
.B4 {
    width: 24%;
    height: 96%;
    margin-top: -156px;
    margin-bottom: 29px;
    margin-left: -630px;
}









}
.logo {
}
.B1 {
}
.B2 {
}
.B3 {
}
.B4 {
}
.blueup {
}
.aboutus {
}
.oops {
}
.people1 {
}
.people2 {
}
.peopl3 {
}
.people4 {
}
.product {
    width: 5250%;
    height: 1792%;

}
.userguid {
    width: 300px;
    height: 300px;
    margin-left: -300px;
}

.userguid {
    width: 3128%;
    height: 1737%;
    padding-left: 178px;
    margin-top: -1719px;
}
.bigblue {
    width: 5219%;
    height: 3551%;
    margin-top: -2389px;
}
.ig2 {
    width: 2000%;
    margin-top: -2510px;
    margin-left: -315px;
}


.bigblue {
}
.ig1 {
}
.ig2 {
}
.ig3 {
    width: 2000%;
    margin-top: -2340px;
    margin-left: -968px;
}
.ig4 {
    width: 2000%;
    margin-top: -2739px;
    margin-left: 143px;
}
.ig5 {
    width: 2000%;
    margin-top: -2568px;
    margin-left: -519px;
}
.ig6 {
    width: 2000%;
    padding-top: 0px;
    margin-top: -2565px;
    margin-left: -767px;
}
.bluedown {
    width: 3000%;
}
