@mixin size($h, $w) {
    height: $h;
    width: $w;
}

@mixin shifting($parent_w, $offset) {
    left: calc((100% - $parent_w) / 2 + $offset);
}

$header_bubble_h: 800px;
$oops_logo_h: 500px;
$oops_logo_w: 680px;
$aboutus_text_h: 500px;
$aboutus_text_w: 800px;
$aboutus_img_h: 470px;
$aboutus_img_w: 850px;
$product_text_h: 200px;
$product_text_w: 1050px;
$product_img_h: 828px;
$product_img_w: 1280px;
$guideline_text_h: 700px;
$guideline_text_w: 700px;
$guideline_img_h: 450px;
$guideline_img_w: 450px;
$ig_img_h: 300px;
$ig_img_w: 300px;
$follow_us_h: 800px;
@media screen and (max-width: 4096px) {
    #bubble {
        position: absolute;
        z-index: -1;
        height: 1000px;
        width: 100%;
        top: 0;
    }
    #product {
        height: $product_img_h;
        width: 100%;
    }
    #guideline {
        position: absolute;
        z-index: 1;
        height: $guideline_img_h;
        width: $guideline_img_w;
        top: 25px;
        left: calc((100% - 450px) / 2 + 40px);
    }
    .home {
        padding: 580px 0 150px 0;
    }
    .oops_area {
        text-align: center;
        margin: 5px auto;
        .oops_logo {
            @include size($oops_logo_h, $oops_logo_w);
        }
    }
    .aboutus_area {
        margin: 50px auto 165px auto;
        text-align: center;
        position: relative;
        .aboutus_text {
            @include size($aboutus_text_h, $aboutus_text_w);
        }
    }
    #about {
        position: absolute;
        @include size($aboutus_img_h, $aboutus_img_w);
        left: calc((100% - 800px) / 2 + 30px);
        // @include shifting($aboutus_text_w, 30px);
        top: 0;
        z-index: -2;
    }
    .product_area {
        margin: 10px 0px;
        text-align: center;
        height: 1200px;
        width: 100vw;
        .product_text {
            height: $product_text_h;
            width: $product_text_w;
            margin-bottom: 100px;
        }
    }
    .guideline_area {
        margin: 10px auto;
        text-align: center;
        position: relative;
        .guideline_text {
            height: $guideline_text_h;
            width: $guideline_text_w;
        }
    }
    .follow_us_area {
        text-align: center;
        height: $follow_us_h;
        padding: 50px 0;
        background: url('../img/home/ig_bg.jpg');
    }
    .ig_area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding: 0px 100px 10px 100px;
        img {
            cursor: pointer;
            height: $ig_img_h;
            width: $ig_img_w;
            margin: 18px 0px;
        }
    }
}

@media (max-width: 1024px) {
    .home {
        padding: 480px 0 150px 0;
    }
    #bubble {
        height: 800px;
    }
    .oops_area .oops_logo {
        @include size($oops_logo_h * 0.8,
        $oops_logo_w * 0.8);
    }
    .aboutus_area .aboutus_text {
        @include size($aboutus_text_h * 0.8,
        $aboutus_text_w * 0.8);
    }
    #about {
        @include size($aboutus_img_h * 0.8,
        $aboutus_img_w * 0.8);
        left: calc((100% - 800px) / 2 + 105px);
    }
    .product_area {
        height: 1024px;
        .product_text {
            @include size($product_text_h * 0.8,
            $product_text_w * 0.8);
            margin-bottom: 80px;
        }
    }
    #product {
        height: $product_img_h * 0.8;
    }
    .guideline_area .guideline_text {
        @include size($guideline_text_h * 0.8,
        $guideline_text_w * 0.8);
    }
    #guideline {
        @include size($guideline_img_h * 0.8,
        $guideline_img_w * 0.8);
        left: calc((100% - 450px) / 2 + 80px);
    }
    .ig_area img {
        @include size($ig_img_h * 0.8,
        $ig_img_w * 0.8);
    }
    .follow_us_area {
        height: $follow_us_h * 0.9;
    }
}