@font-face {
    font-family: 王漢宗特圓體;
    src: url('../font/wt009.ttf');
}

.product {
    padding: 20px 50px;
}

#tissue_paper {
    position: absolute;
    height: 100%;
    width: 600px;
    z-index: -1;
    left: calc((100% - 600px) / 2 - 10px);
}

.tissue {
    position: relative;
    height: 2200px;
    width: 920px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    .tissue_head {
        height: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .product_field {
        margin: 20px;
        padding: 0 210px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        .product_item {
            margin: 50px 10px;
            text-align: center;
            img {
                display: block;
                height: 200px;
                width: 200px;
                &:hover {
                    cursor: pointer;
                }
            }
            p {
                font-family: 王漢宗特圓體;
                color: #174996;
                line-height: 25px;
                margin: 10px 0;
            }
            button {
                margin: 10px auto;
            }
        }
    }
}

.v-card {
    text-align: center;
    .v-card__content {
        margin: 30px auto;
    }
    .v-card__text {
        text-align: left;
    }
    .v-card__actions {
        padding: 20px 24px;
    }
}

.detail_btn .v-btn__content {
    color: #f8d005;
    font-family: 王漢宗特圓體;
}