footer {
    height: 370px;
    background-image: url('../img/footer/bg_down.png');
    background-repeat: no-repeat;
    background-size: 100% 372px;
    // padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    div {
        margin: 0px 20px;
    }
}

.social_media {
    margin-top: 100px;
}

.nav_link {
    border-left: 2px solid #ffd500;
    margin-top: 100px;
    ul {
        padding-left: 10px;
        li {
            margin-bottom: 10px;
            img {
                opacity: 1;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.contact {
    border-left: 2px solid #ffd500;
    margin-top: 100px;
    ul {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        li {
            margin-bottom: 10px;
        }
    }
}

.logo {
    margin-top: 100px;
}

.social_icon {
    margin-top: 15px;
    img {
        height: 50px;
        width: 50px;
        margin: 0 5px;
        opacity: 1;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}