.guideline {
    padding: 50px;
}

.movie_field {
    // padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 690px;
    height: 560px;
    text-align: center;
    background: url('../img/guideline/mirror.png');
    background-repeat: no-repeat;
}

.image-field img {
    display: block;
    margin: 0 auto;
}