header {
    height: 450px;
    background-image: url("../img/bg_up.png");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#logo {
    margin: 2.6rem auto;
    z-index: 2;
}

#logo img {
    height: 180px;
    width: 250px;
    min-width: 100px;
}

#logo img:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;
}

.nav li {
    margin: 10px 25px;
}

.nav li:hover {
    cursor: pointer;
}

.nav ul li img {
    height: 60px;
    width: 100px;
}

.account {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 20px;
}

.account li img {
    height: 30px;
    width: 30px;
}