.home {
    margin-top: 180px;
    margin-bottom: 600px;
    padding: 50px;
}

.oops {
    // position: absolute;
    // top: 620px;
    // z-index: 1;
    text-align: center;
    height: 600px;
    margin: 10px auto;
}

.aboutus {
    margin: 50px 200px 165px 200px;
    text-align: center;
    img {
        height: 400px;
    }
}

.product {
    margin: 10px 200px;
    text-align: center;
    height: 1000px;
    img {
        height: 287px;
        width: 975px;
        &.product_desc {
            width: 100vw;
        }
    }
}

.guideline {
    margin: 10px 200px;
    text-align: center;
    img {
        height: 800px;
    }
}