.product {
    padding: 20px 50px;
}

.tissue {
    background-image: url('../img/product/tissue_body.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 2000px;
    width: 730px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    .tissue_head {
        height: 500px;
        width: 730px;
        margin: 0 auto;
    }
    .product_field {
        margin: 20px;
        padding: 0 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .product_item {
            margin: 50px 10px;
            text-align: center;
            img {
                display: block;
                height: 200px;
                width: 200px;
                &:hover {
                    cursor: pointer;
                }
            }
            p {
                font-family: 微軟正黑體;
                color: #174996;
                line-height: 25px;
                margin: 0;
            }
            button {
                margin: 10px auto;
            }
        }
    }
}

.v-card {
    text-align: center;
    .v-card__content {
        margin: 30px auto;
        img {
            height: 300px;
            width: 300px;
        }
    }
    .v-card__text {
        text-align: left;
    }
    .v-card__actions {
        padding-bottom: 20px;
    }
}