/* Base*/

html {
    font-size: 12px;
}

li {
    list-style: none;
}

body {
    background-image: url("../img/bk.png");
    background-size: cover;
    position: relative;
    z-index: -999;
    margin: 0;
}

@media screen and (max-width:1920px) {
    nav {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .bg_filter_up img {
        width: 100vw;
        height: 450px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }
    #logo {
        margin: 2.6rem auto;
        z-index: 2;
    }
    #logo img {
        height: 180px;
        width: 250px;
        min-width: 100px;
    }
    .menu {
        display: flex;
        flex-flow: row nowrap;
        z-index: 1;
        line-height: 100px;
    }
    .menu li {
        display: block;
        position: relative;
        margin: 10px 30px;
    }
    .menu img {
        height: 60px;
        width: 100px;
        min-width: 100px;
    }
    #bubble {
        width: 100vw;
        height: 1080px;
        position: absolute;
        top: 0px;
        z-index: -998;
    }
    #oops {
        /* width: 100vw; */
        position: absolute;
        top: 620px;
        z-index: 1;
    }
    .content {
        margin-top: 800px;
        margin-bottom: 600px;
    }
    footer img {
        height: 450px;
        width: 100vw;
    }
    .container {
        position: relative;
    }
    .aboutus {
        margin: 0 200px;
        text-align: center;
    }
    .aboutus img {
        height: 400px;
    }
    .product {
        margin: 150px auto;
    }
    .product img {
        width: 100vw;
        height: 950px;
    }
    .guideline {
        margin: 100px 200px;
        text-align: center;
    }
    .guideline img {
        height: 800px;
    }
}


/* custom styling for specific icons */

.fa-user {
    color: #fff0ab;
}

@media (max-width: 1070px) {
    .bg_filter_up img {
        height: 350px;
    }
    #logo {
        margin: 1.5rem auto;
        z-index: 2;
    }
    #logo img {
        height: 140px;
        width: 200px;
    }
    .menu img {
        height: 55px;
        width: 70px;
    }
    #bubble {
        top: 200px;
        height: 450px;
    }
}