@font-face {
    font-family: 王漢宗特圓體;
    src: url('./font/wt009.ttf');
    // src: url(/fonts/simple.woff);
    // src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(MgOpenModernaBold.ttf);
    // font-weight: bold;
}

h1,
h2,
p {
    // font-size: 12px;
    font-family: 王漢宗特圓體;
}

body {
    background-image: url('@/../img/bk.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}

ul,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    img {
        height: 184px;
        width: 210px;
        &:hover {
            cursor: pointer;
        }
    }
}