@font-face {
    font-family: 王漢宗特圓體;
    src: url('./font/wt009.ttf');
}

h1,
h2,
p {
    font-family: 王漢宗特圓體;
}

body {
    margin: 0;
}

#app {
    position: relative;
    z-index: 0;
    background-image: url('@/../img/bk.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ul,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    img {
        height: 184px;
        width: 210px;
        &:hover {
            cursor: pointer;
        }
    }
}